
server:
  port: 8060

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  tracing:
    sampling:
      probability: 1.0

spring:
  main:
      web-application-type: reactive
      allow-bean-definition-overriding: true
  application:
    name: api-gateway
  config:
    import: "optional:configserver:http://localhost:8088"
  cloud:
    gateway:
      routes:
        - id: invernadero-service
          uri: lb://invernadero-service
          predicates:
            - Path=/planta/**
    